# prettier-ignore
specVersion: 1.3.0
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: Vault
    network: {{network}}
    source:
      address: "{{roycoFactoryContractAddress}}"
      abi: RoycoFactory
      startBlock: {{roycoFactoryStartBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      entities:
        - MarketDeployed
      abis:
        - name: RoycoFactory
          file: ./abis/RoycoFactory.json
        - name: BaseVault
          file: ./abis/BaseVault.json
        - name: RoycoVaultTranche
          file: ./abis/RoycoVaultTranche.json
        - name: RoycoAccountant
          file: ./abis/RoycoAccountant.json
      eventHandlers:
        - event: MarketDeployed((address,address,address,address),(string,string,string,string,bytes32,address,address,address,address,bytes,bytes,bytes,bytes,bytes32,bytes32,bytes32,bytes32,(address,bytes4[],uint64[])[]))
          handler: handleMarketDeployed
      file: ./src/royco-factory.ts
templates:
  - kind: ethereum/contract
    name: RoycoVaultTranche
    network: {{network}}
    source:
      abi: RoycoVaultTranche
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      entities:
        - Transfer
        - Deposit
        - Redeem
        - RedeemRequest
        - CancelRedeemRequest
        - CancelRedeemClaim
      abis:
        - name: BaseVault
          file: ./abis/BaseVault.json
        - name: RoycoVaultTranche
          file: ./abis/RoycoVaultTranche.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
        - event: Deposit(indexed address,indexed address,uint256,uint256,uint256,bytes)
          handler: handleDeposit
        - event: Redeem(indexed address,indexed address,(uint256,uint256,uint256),uint256,uint256,bytes)
          handler: handleRedeem
        - event: RedeemRequest(indexed address,indexed address,indexed uint256,address,uint256,bytes)
          handler: handleRedeemRequest
        - event: CancelRedeemRequest(indexed address,indexed uint256,address)
          handler: handleCancelRedeemRequest
        - event: CancelRedeemClaim(indexed address,indexed address,indexed uint256,address,uint256)
          handler: handleCancelRedeemClaim
        - event: ProtocolFeeSharesMinted(indexed address,uint256,uint256)
          handler: handleProtocolFeeSharesMinted
      file: ./src/royco-vault-tranche.ts
  - kind: ethereum/contract
    name: RoycoAccountant
    network: {{network}}
    source:
      abi: RoycoAccountant
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.9
      language: wasm/assemblyscript
      entities:
        - BetaUpdated
        - CoverageUpdated
        - DustToleranceUpdated
        - FixedTermDurationUpdated
        - JTCoverageImpermanentLossErased
        - JuniorTrancheProtocolFeeUpdated
        - LLTVUpdated
        - SeniorTrancheProtocolFeeUpdated
        - YDMUpdated
      abis:
        - name: RoycoAccountant
          file: ./abis/RoycoAccountant.json
      eventHandlers:
        - event: BetaUpdated(uint96)
          handler: handleBetaUpdated
        - event: CoverageUpdated(uint64)
          handler: handleCoverageUpdated
        - event: LLTVUpdated(uint64)
          handler: handleLLTVUpdated
        - event: YDMUpdated(address)
          handler: handleYDMUpdated
        - event: DustToleranceUpdated(uint256)
          handler: handleDustToleranceUpdated
        - event: FixedTermDurationUpdated(uint24)
          handler: handleFixedTermDurationUpdated
        - event: JuniorTrancheProtocolFeeUpdated(uint64)
          handler: handleJuniorTrancheProtocolFeeUpdated
        - event: SeniorTrancheProtocolFeeUpdated(uint64)
          handler: handleSeniorTrancheProtocolFeeUpdated
        - event: JTCoverageImpermanentLossErased(uint256)
          handler: handleJTCoverageImpermanentLossErased
      file: ./src/royco-accountant.ts
